{ 
	BasedOnStyle: Google, 
	UseTab: Always, 
	IndentWidth: 4, 
	TabWidth: 4, 
	ColumnLimit: 0,
	AlignAfterOpenBracket: Align,
	IndentPPDirectives: BeforeHash,
	AlignConsecutiveAssignments: AcrossEmptyLinesAndComments,
	AlignConsecutiveDeclarations : AcrossEmptyLinesAndComments,
	AlignConsecutiveMacros: AcrossEmptyLinesAndComments,
	AllowShortBlocksOnASingleLine : Never,
	AllowShortFunctionsOnASingleLine: None,
	AllowShortEnumsOnASingleLine: false,
}